@import url("base.css");

h1 {
  font-size: 2.5em;
  font-family: "Lato", sans-serif;
  letter-spacing: 5px;
  color: #682c0e;
  width: 193px;
  margin: 30px auto 0;
}

#container {
  width: 751px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.fornada {
  font-family: 'Open sans', sans-serif;
  border: 4px solid #fc8621;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.fornada > h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #682c0e;
}

.fornada > span {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.fornada span:not(:last-child) {
  color: #c24914;
}

.fornada span:last-child {
  color: #f00;
  font-size: 1.5em;
}

a {
  font: 600 0.85em/1em "Open-sans", sans-serif;
  text-decoration: none;
  color: #c24914;
  position: fixed;
  top: 150px;
  left: 95px;
}

a:hover {
  border-bottom: 3px solid #fc8621;
}

a:active {
  color: #fc8621;
}
