@import url("base.css");

h1 {
  font-size: 2.5em;
  font-family: "Lato", sans-serif;
  letter-spacing: 5px;
  color: #682c0e;
  width: 335px;
  margin: 50px auto 0;
}

#container {
  width: 500px;
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

button {
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
  font-weight: 900;
  color: #c24914;
  border: 2px solid #682c0e;
  cursor: pointer;
  box-shadow: 0 5px 0;
}

button:active {
  position: relative;
  top: 5px;
  box-shadow: none;
  border-bottom: 2px solid #682c0e;
}

#container + div {
  text-align: center;
  margin-top: 80px;
}

a {
  font: 600 .9em/1em 'Open-sans', sans-serif;
  text-decoration: none;
  color: #c24914;
}

a:hover {
  border-bottom: 3px solid #fc8621;
}

a:active {
  color: #fc8621;
}

#modal {
  text-align: center;
  border: 10px solid #682c0e;
  border-radius: 12px;
  background-color: #f9e0ae;
  width: 510px;
  height: 320px;
  margin: 0 auto;
  position: fixed;
  bottom: 150px;
  left: 425px;
}

.fornada {
  font-family: 'Open sans', sans-serif;
  padding: 10px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.fornada > h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #682c0e;
}

.fornada > span {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.fornada span:not(:last-child) {
  color: #c24914;
}

.fornada span:last-child {
  color: #f00;
  font-size: 1.5em;
}

#modal button {
  margin-top: 20px;
}
